<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avaygo.myfastingtracker"
    android:versionCode="0"
    android:versionName="0.0.8" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.light" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".notifications.TimerNotificationService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".notifications.RecurringNotificationReceiver"
            android:enabled="true" />
        <receiver
            android:name=".notifications.BootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.ReminderSettingActivity"
            android:label="@string/title_activity_reminder_setting" />
        <activity
            android:name=".activities.DurationPickerDialogue"
            android:label="@string/title_activity_duration_picker_dialogue"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity
            android:name=".activities.FastDetailsActivity"
            android:label="@string/title_activity_fast_details"
            android:parentActivityName=".activities.MainActivity" >
        </activity>

        <receiver
            android:name=".notifications.PostponeFastReciever"
            android:enabled="true"
            android:exported="true" >
        </receiver>
    </application>

</manifest>
